{% extends "base.html" %}

{% block title %}Создание пользователя{% endblock %}

{% block content %}
<div class="page-header">
    <h1>
        {% if action == "create" %}
            Новый пользователь
        {% else %}
            Редактирование: {{ user.username }}
        {% endif %}
    </h1>
</div>

<form method="post" class="form">
    {% csrf_token %}

    <div class="form-group">
        <label for="last_name">Фамилия</label>
        <input type="text" id="last_name" name="last_name" required value="{{ user.last_name|default:'' }}">
    </div>

    <div class="form-group">
        <label for="first_name">Имя</label>
        <input type="text" id="first_name" name="first_name" required value="{{ user.first_name|default:'' }}">
    </div>

    <div class="form-group">
        <label for="middle_name">Отчество</label>
        <input type="text" id="middle_name" name="middle_name" required value="{{ user.middle_name|default:'' }}">
    </div>

    <div class="form-group">
        <label for="role_id">Роль</label>
            <select id="role_id" name="role_id" required>
                {% for role in roles %}
                    <option value="{{ role.id }}" {% if user and user.role.id == role.id %}selected{% endif %}>
                        {{ role.label }}
                    </option>
                {% endfor %}
            </select>
    </div>
    <div class="form-group">
        <label for="class_id">Класс</label>
            <select id="class_id" name="class_id">
                <option value="">— Без класса —</option>
                {% for c in classes %}
                    <option value="{{ c.id }}"
                            {% if user and user.school_class and user.school_class.id == c.id %}selected{% endif %}>
                        {{ c.number }}{{ c.letter }}
                    </option>
                {% endfor %}
            </select>
    </div>
    <div class="form-actions">
        <button type="submit" class="btn-submit">
            {% if action == "create" %}Создать{% else %}Сохранить{% endif %}
        </button>
        <a href="{% url 'users' %}" class="btn-cancel">Отмена</a>
    </div>
</form>
{% endblock %}